@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: none;
  padding: 0 14px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1;
  height: 32px;
  transition: 150ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.btn-verde {
  background-color: #22ca51;
  border-color: #28c254;
  color: white;
}

.btn-naranja {
  background-color: #ff650d;
  color: white;
}
